aside {
    background: lightgrey;
    width: 40%;
    padding: 10px;
    position: absolute;
    left: -485px;
    z-index: 1;
    transition: all 0.4s ease;
    .saved-account {
        display: block;
        background: white;
        margin: 5px 0;
    }
}