aside {
    background: pink;
    width: 40%;
    padding: 10px;
    position: relative;
    right: 285px;
    z-index: 1;
    transition: all 0.4s ease;
    .saved-account {
        display: block;
        background: white;
        margin: 5px 0;
    }
}