aside {
    background: orange;
    box-shadow: 3px 3px 20px black;
    width: 20%;
    padding: 10px;
    position: absolute;
    opacity: 0;
    right: 0;
    z-index: 1;
    transition: all 0.4s ease;
    .account-list { 
        display: block;
        background: white;
        margin: 5px 0;
        padding: 5px;
        font-size: 1.4rem;
    }
    span {
        display: block;
    }
}