.authentication {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(202, 202, 202, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .user-form {
        display: flex;
        width: 70%;
        form {
            width: 50%;
            background: orange;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 10px;
            padding: 10px;
        }
    }
}

form {
    input[type=email], input[type=password] {
        width: 100%;
        display: block;
    }
    input[type=submit], button {
        color: white;
        background: black;
        height: 35px;
        width: 60%;
        font-size: 1.8rem;
        display: block;
        text-align: center;
        margin: 10px auto;
        &:hover {
            background: darken($color: orange, $amount: 10);
            color: white;
            border: 1px solid black;
        }
    }
}

.showMe {
    display: block;
    display: flex;
}