@media only screen and (max-width: 950px) {
    // typography
    h2 {
        font-size: 2.4rem;
    }
    // saved accounts
    aside {
         width: 220px;
    }
}

@media only screen and (max-width: 750px) {
    // typography
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    // main
    .results {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    // header 
    header {
        height: 37vh;
    }

    // main
    main {
        justify-content: space-around;
    }

    .action-buttons {
        button {
            font-size: 1.4rem;
        }
    }

    #username, #password {
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 570px) {
    // aside
    aside {
        top: 40px;
    }

}

@media only screen and (max-width: 550px) {
    // typography
    h1{
        width: auto;
    }

    // auth
    .authentication {
        .user-form {
            flex-direction: column;
            form {
                width: 95%;
            }
        }
    }

    // main
    .results {
        flex-direction: column;
        .result-area {
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 450px) {
    // typography
    p {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 365px) {
    // typography
    p {
        font-size: 1.4rem;
    }

    // main
    .action-buttons {
        button {
            width: 70%;
        }
    }
}

@media only screen and (max-width: 380px) {
    // navigation
    #user-account, #sign-out, #label, #dev-hub {
        font-size: 1.2rem;
    }
}