input[type=checkbox]:checked ~ aside {
        right: 0;
        position: fixed;
        opacity: 1;
    }

input[type=checkbox] {
    visibility: hidden;
}

nav {
    background: black;
    display: flex;
}

#label {
    display: none;
}

#user-account, #sign-out, #dev-hub {
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    &:hover {
        color: orange;
    }
}

#user-account, #sign-out, #label, #dev-hub {
    margin: 10px;
}

.colored {
    color: orange;
}