input[type=checkbox]:checked + aside {
        position: absolute;
        z-index: 1;
        left: 0;
    }

input[type=checkbox] {
    visibility: hidden;
}

nav {
    background: black;
}

.colored {
    color: orange;
}

#label {
    display: none;
}